* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 960px;
}

.list-box {
  padding: 50px 0;
}

.list {
  padding: 20px;
}

.list:nth-child(odd) {
  background-color: #d3d3d3;
}

.box-box {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: yellow;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
  background-color: orange;
}
